.v-wrapper {
  background-color: var(--gray-1);
  padding: 20px;
}

.v-container {
  border: 8px solid var(--gray-6);
  height: 100%;
  padding: 40px 60px 30px 60px;

  @media (max-width: 998px) {
    padding: 30px 30px 20px 30px;
  }
}
