.v-info {
  font-weight: var(--font-regular);
  font-size: 12px;

  li:not(:first-child):not(.v-info--links) {
    margin-top: 2px;
  }
}

.v-info--links {
  margin-top: 20px;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  height: 50px;
}
