.v-button {
  font-weight: var(--font-regular);
  font-family: inherit;
  height: 48px;
  font-size: 16px;
  cursor: pointer;
  padding: 14px 25px;
  min-width: 220px;
  border-radius: 8px;
  border: 1px solid transparent;
  transition: box-shadow .2s ease-in-out;
  will-change: box-shadow;

  &:focus,
  &:hover {
    outline: 0;
    box-shadow: var(--box-shadow-sm);
  }

  &:active {
    box-shadow: none;
  }
}

.v-button--primary {
  background-color: var(--dark-gray-2);
  border-color: var(--dark-gray-2);
  color: var(--white);
}

.v-button--secondary {
  background-color: transparent;
  border-color: var(--gray-6);
  color: var(--accent-3);
}

.v-button--medium {
  font-size: 13px;
}

.v-button--large {
  font-size: 16px;
}
