.app {
  min-height: 100vh;
}

.container {
  display: flex;
}

.title {
  font-weight: var(--font-bold);
  font-size: 28px;
  margin-bottom: 15px;
}

.header {
  padding-bottom: 30px;
}

.content {
  flex-grow: 1;
}

.main {
  max-width: 910px;
  padding: 15px 0 70px;
  border-top: 1px solid var(--gray-7);
  border-bottom: 1px solid var(--gray-7);
}

.footer {
  padding: 20px 0 0;

  & > button:first-child {
    margin-right: 10px;
  }
}

.cards {
  display: grid;
  grid-row-gap: 3px;
  grid-column-gap: 5px;
  grid-template-columns: repeat(3, 1fr);

  @media (max-width: 768px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (max-width: 576px) {
    grid-template-columns: none;
    grid-column-gap: 0;
    grid-row-gap: 5px;
  }
}

.modal-body {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}

.modal-header {
  font-weight: var(--font-bold);
  font-size: 50px;
  margin-bottom: 20px;
}

.modal-caption {
  margin-bottom: 40px;
}

.modal-happiness-diff {
  display: flex;
  flex-flow: column;
  align-items: center;
}

.modal-happiness-num {
  font-weight: var(--font-bold);
  font-size: 40px;
  margin-bottom: 10px;

  &.modal-happiness-num--red {
    color: var(--accent-4);
  }

  &.modal-happiness-num--green {
    color: var(--accent-1)
  }
}

.modal-footer {
  display: flex;
  justify-content: center;
}
