.v-switch {
  display: block;
}

.v-switch--input {
  position: absolute;
  margin-left: -9999px;
  visibility: hidden;

  &:checked + .v-switch--toggle {
    &:after {
      background-color: var(--accent-1);
      transform: translateX(22px);
    }
  }
}

.v-switch--toggle {
  background-color: var(--gray-2);
  border: 1px solid var(--gray-7);
  display: block;
  position: relative;
  cursor: pointer;
  outline: none;
  user-select: none;
  padding: 2px;
  width: 46px;
  height: 24px;
  border-radius: 40px;
  transition: opacity 0.2s ease-in-out;

  &:before,
  &:after {
    display: block;
    position: absolute;
    content: "";
  }

  &:before {
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    border-radius: 60px;
    transition: background 0.2s ease-in-out;
  }

  &:after {
    background-color: var(--gray-5);
    top: 3px;
    left: 3px;
    bottom: 3px;
    width: 16px;
    height: 16px;
    border-radius: 35px;
    transition: transform 0.2s;
  }
}
